{% extends 'base.html.twig' %}

{% block title %}New BookCopies{% endblock %}

{% block body %}
    <h1>Create new BookCopies</h1>

    {{ include('book_copies/_form.html.twig') }}

    <a href="{{ path('app_book_copies_index') }}">back to list</a>
{% endblock %}
